<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ .Site.Title }}</title>
    <link rel="manifest" href="/manifest.json">
    <!-- React app styles and scripts will be injected here during build -->
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- React app bundle will be loaded here -->
</body>
</html>
